[Unit]
  Description=Configure iptables for (Consul DNS)
[Service]
  User=root
  Type=oneshot
  ExecStart=iptables --table nat --append PREROUTING --protocol udp --match udp --destination-port 53 --jump REDIRECT --to-ports 8600
  ExecStart=iptables --table nat --append PREROUTING --protocol tcp --match tcp --destination-port 53 --jump REDIRECT --to-ports 8600
  ExecStart=iptables --table nat --append OUTPUT --destination localhost --protocol udp --match udp --destination-port 53 --jump REDIRECT --to-ports 8600
  ExecStart=iptables --table nat --append OUTPUT --destination localhost --protocol tcp --match tcp --destination-port 53 --jump REDIRECT --to-ports 8600
[Install]
  WantedBy=multi-user.target
